.wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background: #90ee90;
    border-radius: 1rem;
    border-color: #266126;
    border: visible;
    border-width: 5px;
    box-shadow: 0 0 20px 0 #90ee90;
}

.bigWrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

.text {
    font-size: 22px;
    color: #333;
    padding: 5px;
    font-family: "Nunito";
}

.title {
    color: #333;
    font-size: 28px;
    font-family: "Nunito";
    text-align: center;
}

.imageWrapper {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    padding: 10px;
    height: 300px;
    width: 47%;
    vertical-align: top;
    overflow-y: scroll;
    border-radius: 1rem;
}

.infoWrapper {
    display: inline-block;
    width: 50%;
    margin: auto;
    
}

.link {
    display: inline-block;
    font-family: "Nunito";
    padding: 7px;
    font-weight: 800;
    text-decoration: none;
    font-size: 22px;
    background-color: #90ee90;
    box-shadow: 0 0 20px 0 #6eca6e;
    border-radius: 1rem;
    margin: 10px 24px;
    
}
.linkWrapper {
    width: 50%;
    align-items: center;
    margin: 10px auto;
}

.languages {
    font-size: 22px;
    color: #333;
    font-weight: 800;
    font-family: 'Courier Prime', monospace;
    text-align: center;
    background-color: #6eca6e;
    box-shadow: 0 0 20px 0 #6eca6e;
    padding: 7px;
    width: 50%;
    margin: 10px auto;
    border-radius: 1rem;
}

.image {
    
    border-radius: 1rem;
    vertical-align: middle;
    height: auto;
    padding: 0;
    width: 100%;
}
